.red{
    background-color: red;
    width: 30px;
    height: 30px;
}

.green{
    background-color: green;
    width:30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

.des{
    padding: 10px;
    border: 1px solid grey;

}

.youtube{
    padding: 10px;
    border: 1px solid grey;
    background-color: black;
    margin: 5px;

}

.heading{
    color: white;
}

.title{
    color: grey;
}